[submodule "submodules/gl3n"]
	path = submodules/gl3n
	url = https://github.com/Extrawurst/gl3n.git
[submodule "submodules/DerelictODE"]
	path = submodules/DerelictODE
	url = https://github.com/Extrawurst/DerelictODE.git
[submodule "submodules/tharsis.prof"]
	path = submodules/tharsis.prof
	url = https://github.com/Extrawurst/tharsis.prof.git
[submodule "submodules/tinyendian"]
	path = submodules/tinyendian
	url = https://github.com/Extrawurst/tinyendian.git
[submodule "submodules/DerelictENet"]
	path = submodules/DerelictENet
	url = https://github.com/Extrawurst/DerelictENet
[submodule "submodules/libsdl-d"]
	path = submodules/libsdl-d
	url = https://github.com/Extrawurst/libsdl-d
