[submodule "submodules/gl3n"]
	path = submodules/gl3n
	url = https://github.com/Extrawurst/gl3n.git
[submodule "submodules/tharsis-dimgui"]
	path = submodules/tharsis-dimgui
	url = https://github.com/Extrawurst/tharsis-dimgui.git
[submodule "submodules/DerelictODE"]
	path = submodules/DerelictODE
	url = https://github.com/Extrawurst/DerelictODE.git
