<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Class UEPhysicsBody</title>
		<link rel="stylesheet" href="../../../../../css/style.min.css"/>
		<script type="text/javascript" src="../../../../../js/script.min.js"></script>
	</head>
	<body onload="setupDdox();">
		<header>
		</header>
		<nav id="main-nav">
				<noscript>
					<p style="color: red">The search functionality needs JavaScript enabled</p>
				</noscript>
				<div id="symbolSearchPane" style="display: none">
					<input id="symbolSearch" type="text" placeholder="Search" onchange="performSymbolSearch(24);" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" autofocus="autofocus"/>
					<ul id="symbolSearchResults" style="display: none"></ul>
					<script type="application/javascript" src="../../../../../symbols.js"></script>
					<script type="application/javascript">
var symbolSearchRootDir = "../../../../../";
document.getElementById('symbolSearchPane').style.display = 'block';
					</script>
				</div>
						<ul>
						<li>
							<a href="../../../../../unecht/core/assets/texture.html">unecht.core.assets.texture</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/assetInspector.html">unecht.core.components.editor.ui.assetInspector</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/assetView.html">unecht.core.components.editor.ui.assetView</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/console.html">unecht.core.components.editor.ui.console</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/dragDropEditor.html">unecht.core.components.editor.ui.dragDropEditor</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/fileDialog.html">unecht.core.components.editor.ui.fileDialog</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/menuSystem.html">unecht.core.components.editor.ui.menuSystem</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/ui/referenceEditor.html">unecht.core.components.editor.ui.referenceEditor</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/commands.html">unecht.core.components.editor.commands</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/editorGui.html">unecht.core.components.editor.editorGui</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/gismo.html">unecht.core.components.editor.gismo</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/grid.html">unecht.core.components.editor.grid</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/menuItems.html">unecht.core.components.editor.menuItems</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/menus.html">unecht.core.components.editor.menus</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/mouseControls.html">unecht.core.components.editor.mouseControls</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/editor/mousePicking.html">unecht.core.components.editor.mousePicking</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/internal/gui.html">unecht.core.components.internal.gui</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/physics/collider.html">unecht.core.components.physics.collider</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/physics/dynamic.html">unecht.core.components.physics.dynamic</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/physics/material.html">unecht.core.components.physics.material</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/physics/system.html">unecht.core.components.physics.system</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/camera.html">unecht.core.components.camera</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/material.html">unecht.core.components.material</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/misc.html">unecht.core.components.misc</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/physics.html">unecht.core.components.physics</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/renderer.html">unecht.core.components.renderer</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/sceneNode.html">unecht.core.components.sceneNode</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/shapes.html">unecht.core.components.shapes</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/components/_editor.html">unecht.core.components._editor</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/math/ray.html">unecht.core.math.ray</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/serialization/mixins.html">unecht.core.serialization.mixins</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/serialization/sceneSerialization.html">unecht.core.serialization.sceneSerialization</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/serialization/serializer.html">unecht.core.serialization.serializer</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/application.html">unecht.core.application</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/assetDatabase.html">unecht.core.assetDatabase</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/component.html">unecht.core.component</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/componentManager.html">unecht.core.componentManager</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/defaultInspector.html">unecht.core.defaultInspector</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/entity.html">unecht.core.entity</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/events.html">unecht.core.events</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/fibers.html">unecht.core.fibers</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/hideFlags.html">unecht.core.hideFlags</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/logger.html">unecht.core.logger</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/object.html">unecht.core.object</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/profiler.html">unecht.core.profiler</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/scenegraph.html">unecht.core.scenegraph</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/staticRingBuffer.html">unecht.core.staticRingBuffer</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/stdex.html">unecht.core.stdex</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/types.html">unecht.core.types</a>
						</li>
						<li>
							<a href="../../../../../unecht/core/window.html">unecht.core.window</a>
						</li>
						<li>
							<a href="../../../../../unecht/gl/program.html">unecht.gl.program</a>
						</li>
						<li>
							<a href="../../../../../unecht/gl/shader.html">unecht.gl.shader</a>
						</li>
						<li>
							<a href="../../../../../unecht/gl/texture.html">unecht.gl.texture</a>
						</li>
						<li>
							<a href="../../../../../unecht/gl/vertexArrayObject.html">unecht.gl.vertexArrayObject</a>
						</li>
						<li>
							<a href="../../../../../unecht/gl/vertexBufferObject.html">unecht.gl.vertexBufferObject</a>
						</li>
						<li>
							<a href="../../../../../unecht/glfw/glfwapplication.html">unecht.glfw.glfwapplication</a>
						</li>
						<li>
							<a href="../../../../../unecht/glfw/glfwwindow.html">unecht.glfw.glfwwindow</a>
						</li>
						<li>
							<a href="../../../../../unecht/glfw/joysticks.html">unecht.glfw.joysticks</a>
						</li>
						<li>
							<a href="../../../../../unecht/glfw/types.html">unecht.glfw.types</a>
						</li>
						<li>
							<a href="../../../../../unecht/meta/misc.html">unecht.meta.misc</a>
						</li>
						<li>
							<a href="../../../../../unecht/meta/uda.html">unecht.meta.uda</a>
						</li>
						<li>
							<a href="../../../../../unecht/test/sceneSerialization.html">unecht.test.sceneSerialization</a>
						</li>
						<li>
							<a href="../../../../../unecht/test/serializer.html">unecht.test.serializer</a>
						</li>
						<li>
							<a href="../../../../../unecht/steamaccess.html">unecht.steamaccess</a>
						</li>
						<li>
							<a href="../../../../../unecht/ue.html">unecht.ue</a>
						</li>
						<li>
							<a href="../../../../../unecht.html">unecht</a>
						</li>
						</ul>
			<p id="main-nav-footer">
 Built with
				<a href="https://github.com/MartinNowak/scod">scod</a>
			</p>
		</nav>
		<div id="main-contents">
			<h1>Class UEPhysicsBody</h1>
			<section>
				<p></p>

					<section>
						<h3>Inherits from</h3>
						<ul>
							<li>
								<code class="prettyprint lang-d"><a href="../../../../../unecht/core/component/UEComponent.html"><span class="typ">UEComponent</span></a></code>
 (base class)
							</li>
						</ul>
					</section>
					<section>
						<h3>Constructors</h3>
						<table>
							<col class="caption"/>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.this.html" class="public">
										<code>this</code>
									</a>
								</td>
								<td></td>
							</tr>
						</table>
					</section>
					<section>
						<h3>Fields</h3>
						<table>
							<col class="caption"/>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Description</th>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.Body.html" class="package"><code>Body</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="pln">derelict<wbr/></span><span class="pun">.</span><span class="pln">ode<wbr/></span><span class="pun">.</span><span class="pln">types<wbr/></span><span class="pun">.</span><span class="pln">dxBody</span><span class="pun">*</span></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.lastAngles.html" class="private"><code>lastAngles</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="pln">gl3n<wbr/></span><span class="pun">.</span><span class="pln">linalg<wbr/></span><span class="pun">.</span><span class="typ">Vector</span>!(float,3)</code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.lastPos.html" class="private"><code>lastPos</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="pln">gl3n<wbr/></span><span class="pun">.</span><span class="pln">linalg<wbr/></span><span class="pun">.</span><span class="typ">Vector</span>!(float,3)</code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent._enabled.html" class="private inherited"><code>_enabled</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="typ">bool</span></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent._entity.html" class="private inherited"><code>_entity</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><a href="../../../../../unecht/core/entity/UEEntity.html"><span class="typ">UEEntity</span></a></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject._hideFlags.html" class="private inherited"><code>_hideFlags</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><a href="../../../../../unecht/core/hideFlags/UEFlags.html"><span class="typ">UEFlags</span></a>!(unecht.core.hideFlags.HideFlags)</code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject._instanceId.html" class="private inherited"><code>_instanceId</code></a>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="pln">std<wbr/></span><span class="pun">.</span><span class="pln">uuid<wbr/></span><span class="pun">.</span><span class="pln">UUID</span></code></td>
								<td></td>
							</tr>
						</table>
					</section>
					<section>
						<h3>Properties</h3>
						<table>
							<col class="caption"/>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Description</th>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.typename.html" class="public property"><code>typename</code></a>
									<span class="tableEntryAnnotation">[get]</span>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="typ">string</span></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.enabled.html" class="public inherited property"><code>enabled</code></a>
									<span class="tableEntryAnnotation">[get, set]</span>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="typ">bool</span></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.entity.html" class="public inherited property"><code>entity</code></a>
									<span class="tableEntryAnnotation">[get]</span>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><a href="../../../../../unecht/core/entity/UEEntity.html"><span class="typ">UEEntity</span></a></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.hideInHirarchie.html" class="public inherited property"><code>hideInHirarchie</code></a>
									<span class="tableEntryAnnotation">[get]</span>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><span class="typ">bool</span></code></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.sceneNode.html" class="public inherited property"><code>sceneNode</code></a>
									<span class="tableEntryAnnotation">[get]</span>
								</td>
								<td class="typecol"><code class="prettyprint lang-d"><a href="../../../../../unecht/core/components/sceneNode/UESceneNode.html"><span class="typ">UESceneNode</span></a></code></td>
								<td></td>
							</tr>
						</table>
					</section>
					<section>
						<h3>Methods</h3>
						<table>
							<col class="caption"/>
							<tr>
								<th>Name</th>
								<th>Description</th>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.addForce.html" class="public">
										<code>addForce</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.createEditor.html" class="public">
										<code>createEditor</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.deserialize.html" class="public">
										<code>deserialize</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.getMenuItems.html" class="public">
										<code>getMenuItems</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.getVelocity.html" class="public">
										<code>getVelocity</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.onCreate.html" class="public">
										<code>onCreate</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.onDestroy.html" class="public">
										<code>onDestroy</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.onUpdate.html" class="public">
										<code>onUpdate</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.serialize.html" class="public">
										<code>serialize</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.setDamping.html" class="public">
										<code>setDamping</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.setVelocity.html" class="public">
										<code>setVelocity</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.hideFlags.html" class="public inherited">
										<code>hideFlags</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.instanceId.html" class="public inherited">
										<code>instanceId</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.instantiate.html" class="public inherited">
										<code>instantiate</code>
									</a>
								</td>
								<td>TBD
</td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.newInstanceId.html" class="public inherited">
										<code>newInstanceId</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.onCollision.html" class="public inherited">
										<code>onCollision</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.registerEvent.html" class="public inherited">
										<code>registerEvent</code>
									</a>
								</td>
								<td>helper
</td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.setEntity.html" class="package inherited">
										<code>setEntity</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.deserializeMember.html" class="private">
										<code>deserializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/components/physics/dynamic/UEPhysicsBody.serializeMember.html" class="private">
										<code>serializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.deserializeMember.html" class="private inherited">
										<code>deserializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.deserializeMember.html" class="private inherited">
										<code>deserializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/object/UEObject.serializeMember.html" class="private inherited">
										<code>serializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<a href="../../../../../unecht/core/component/UEComponent.serializeMember.html" class="private inherited">
										<code>serializeMember</code>
									</a>
								</td>
								<td></td>
							</tr>
						</table>
					</section>

			</section>
			<footer>
				<hr/>
				<div id="license-info">



				</div>
			</footer>
		</div>
	</body>
</html>