<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Function UECamera.createEditor</title>
		<link rel="stylesheet" type="text/css" href="../../../../styles/ddox.css"/>
		<link rel="stylesheet" href="../../../../prettify/prettify.css" type="text/css"/>
		<script type="text/javascript" src="../../../../scripts/jquery.js">/**/</script>
		<script type="text/javascript" src="../../../../scripts/ddox.js">/**/</script>
	</head>
	<body onload="setupDdox();">
		<nav id="main-nav">
						<ul class="tree-view">
							<li class="tree-view">
								<a href="#" class="package">unecht</a>
						<ul class="tree-view">
							<li class="tree-view">
								<a href="#" class="package">core</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">assets</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/assets/texture.html" class=" module">texture</a>
							</li>
						</ul>
							</li>
							<li class="tree-view">
								<a href="#" class="package">components</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">editor</a>
						<ul class="tree-view">
							<li class="collapsed tree-view">
								<a href="#" class="package">ui</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/components/editor/ui/assetInspector.html" class=" module">assetInspector</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/assetView.html" class=" module">assetView</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/console.html" class=" module">console</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/dragDropEditor.html" class=" module">dragDropEditor</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/fileDialog.html" class=" module">fileDialog</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/menuSystem.html" class=" module">menuSystem</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/ui/referenceEditor.html" class=" module">referenceEditor</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/commands.html" class=" module">commands</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/editorGui.html" class=" module">editorGui</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/gismo.html" class=" module">gismo</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/grid.html" class=" module">grid</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/menuItems.html" class=" module">menuItems</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/menus.html" class=" module">menus</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/mouseControls.html" class=" module">mouseControls</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/editor/mousePicking.html" class=" module">mousePicking</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">internal</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/components/internal/gui.html" class=" module">gui</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">physics</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/components/physics.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/physics/collider.html" class=" module">collider</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/physics/dynamic.html" class=" module">dynamic</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/physics/material.html" class=" module">material</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/physics/system.html" class=" module">system</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../unecht/core/components/camera.html" class="selected module">camera</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/material.html" class=" module">material</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/misc.html" class=" module">misc</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/renderer.html" class=" module">renderer</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/sceneNode.html" class=" module">sceneNode</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/shapes.html" class=" module">shapes</a>
							</li>
							<li>
								<a href="../../../../unecht/core/components/_editor.html" class=" module">_editor</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">math</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/math/ray.html" class=" module">ray</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">serialization</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/core/serialization/mixins.html" class=" module">mixins</a>
							</li>
							<li>
								<a href="../../../../unecht/core/serialization/sceneSerialization.html" class=" module">sceneSerialization</a>
							</li>
							<li>
								<a href="../../../../unecht/core/serialization/serializer.html" class=" module">serializer</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../unecht/core/application.html" class=" module">application</a>
							</li>
							<li>
								<a href="../../../../unecht/core/assetDatabase.html" class=" module">assetDatabase</a>
							</li>
							<li>
								<a href="../../../../unecht/core/component.html" class=" module">component</a>
							</li>
							<li>
								<a href="../../../../unecht/core/componentManager.html" class=" module">componentManager</a>
							</li>
							<li>
								<a href="../../../../unecht/core/defaultInspector.html" class=" module">defaultInspector</a>
							</li>
							<li>
								<a href="../../../../unecht/core/entity.html" class=" module">entity</a>
							</li>
							<li>
								<a href="../../../../unecht/core/events.html" class=" module">events</a>
							</li>
							<li>
								<a href="../../../../unecht/core/fibers.html" class=" module">fibers</a>
							</li>
							<li>
								<a href="../../../../unecht/core/hideFlags.html" class=" module">hideFlags</a>
							</li>
							<li>
								<a href="../../../../unecht/core/logger.html" class=" module">logger</a>
							</li>
							<li>
								<a href="../../../../unecht/core/object.html" class=" module">object</a>
							</li>
							<li>
								<a href="../../../../unecht/core/profiler.html" class=" module">profiler</a>
							</li>
							<li>
								<a href="../../../../unecht/core/scenegraph.html" class=" module">scenegraph</a>
							</li>
							<li>
								<a href="../../../../unecht/core/staticRingBuffer.html" class=" module">staticRingBuffer</a>
							</li>
							<li>
								<a href="../../../../unecht/core/stdex.html" class=" module">stdex</a>
							</li>
							<li>
								<a href="../../../../unecht/core/types.html" class=" module">types</a>
							</li>
							<li>
								<a href="../../../../unecht/core/window.html" class=" module">window</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">gl</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/gl/program.html" class=" module">program</a>
							</li>
							<li>
								<a href="../../../../unecht/gl/shader.html" class=" module">shader</a>
							</li>
							<li>
								<a href="../../../../unecht/gl/texture.html" class=" module">texture</a>
							</li>
							<li>
								<a href="../../../../unecht/gl/vertexArrayObject.html" class=" module">vertexArrayObject</a>
							</li>
							<li>
								<a href="../../../../unecht/gl/vertexBufferObject.html" class=" module">vertexBufferObject</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">glfw</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/glfw/glfwapplication.html" class=" module">glfwapplication</a>
							</li>
							<li>
								<a href="../../../../unecht/glfw/glfwwindow.html" class=" module">glfwwindow</a>
							</li>
							<li>
								<a href="../../../../unecht/glfw/joysticks.html" class=" module">joysticks</a>
							</li>
							<li>
								<a href="../../../../unecht/glfw/types.html" class=" module">types</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">meta</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/meta/misc.html" class=" module">misc</a>
							</li>
							<li>
								<a href="../../../../unecht/meta/uda.html" class=" module">uda</a>
							</li>
						</ul>
							</li>
							<li class="collapsed tree-view">
								<a href="#" class="package">test</a>
						<ul class="tree-view">
							<li>
								<a href="../../../../unecht/test/sceneSerialization.html" class=" module">sceneSerialization</a>
							</li>
							<li>
								<a href="../../../../unecht/test/serializer.html" class=" module">serializer</a>
							</li>
						</ul>
							</li>
							<li>
								<a href="../../../../unecht.html" class=" module">Package members</a>
							</li>
							<li>
								<a href="../../../../unecht/steamaccess.html" class=" module">steamaccess</a>
							</li>
							<li>
								<a href="../../../../unecht/ue.html" class=" module">ue</a>
							</li>
						</ul>
							</li>
						</ul>
				<noscript>
					<p style="color: red">The search functionality needs JavaScript enabled</p>
				</noscript>
				<div id="symbolSearchPane" style="display: none">
					<p>
						<input id="symbolSearch" type="text" placeholder="Search for symbols" onchange="performSymbolSearch(24);" onkeypress="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/>
					</p>
	<ul id="symbolSearchResults" style="display: none"></ul>
	<script type="application/javascript" src="../../../../symbols.js"></script>
	<script type="application/javascript">
var symbolSearchRootDir = "../../../../";
$('#symbolSearchPane').show();
	</script>
				</div>
		</nav>
		<div id="main-contents">
			<h1>Function UECamera.createEditor</h1>
			<section>
				<p></p>

					<section>
						<h3>Prototype</h3>
						<div class="prototype">
							<code class="lang-d">
<span class="kwd">override </span><a href="../../../../unecht/core/componentManager/IComponentEditor.html"><span class="typ">IComponentEditor</span></a> <span class="pln">createEditor<span class="pun">()</span><span class="pun">;</span>
							</code>
						</div>
					</section>

			</section>
			<section>
				<h2>Authors</h2>

			</section>
			<section>
				<h2>Copyright</h2>

			</section>
			<section>
				<h2>License</h2>

			</section>
		</div>
	</body>
</html>